# 01. Importing Libraries

In [1]:
#importing necessary libraries to verify/clean data and setting display options to be able to view all

import pandas as pd
import numpy as np
import os

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
#defining path

path = r'C:\Users\Jonathan\Desktop\Amsterdam AirBnB'

In [3]:
#import calendar dataset to check and clean.

calendar = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'calendar.csv'), index_col = False)

In [4]:
#import listing dataset to check and clean

listing = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'listings.csv'), index_col = False)

In [5]:
#import listing_details dataset to check and clean;

listings_details = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'listings_details.csv'), low_memory = False, index_col = False)

#this dataset had mixed datatypes so I had to include low_memory = False to let Panads know it's okay to use memory to identify the dtype

In [6]:
#import neighbourhoods dataset to check and clean

neighbour = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'neighbourhoods.csv'), index_col = False)

In [7]:
#import reviews dataset to check and clean

reviews = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'reviews.csv'), index_col = False)

In [8]:
#import reviews_details dataset to check and clean

reviews_details = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'reviews_details.csv'), index_col = False)

In [9]:
#checking calendar for null values

calendar.isnull().sum()

listing_id          0
date                0
available           0
price         6110879
dtype: int64

In [10]:
#checking the shape of calendar

calendar.shape

(7310950, 4)

In [11]:
#remove price column because a majority of column is null

df_cal = calendar.drop(['price'],axis=1)

In [12]:
#identifying duplicate values in data set

calendar_dups = calendar[calendar.duplicated()]

In [13]:
#checking for duplicate values

calendar_dups

Empty DataFrame
Columns: [listing_id, date, available, price]
Index: []

In [14]:
#checking listing for null values

listing.isnull().sum()

id                                    0
name                                 38
host_id                               0
host_name                             4
neighbourhood_group               20030
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                        2406
reviews_per_month                  2406
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [15]:
#checking the shape of listing

listing.shape

(20030, 16)

In [16]:
#remove neighbourhood_group column because the entire column is null

df_list = listing.drop(['neighbourhood_group'],axis=1)

In [17]:
#identifying duplicate values in data set

listing_dups = listing[listing.duplicated()]

In [18]:
#checking for duplicate values

listing_dups

Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365]
Index: []

In [19]:
#checking listing_details for null values

listings_details.isnull().sum()

id                                      0
listing_url                             0
scrape_id                               0
last_scraped                            0
name                                   38
summary                               520
space                                5451
description                           124
experiences_offered                     0
neighborhood_overview                6773
notes                               10999
transit                              6395
access                               7803
interaction                          8056
house_rules                          7459
thumbnail_url                       20030
medium_url                          20030
picture_url                             0
xl_picture_url                      20030
host_id                                 0
host_url                                0
host_name                               4
host_since                              4
host_location                          39
host_about                           8227
host_response_time                   9483
host_response_rate                   9483
host_acceptance_rate                20030
host_is_superhost                       4
host_thumbnail_url                      4
host_picture_url                        4
host_neighbourhood                   5808
host_listings_count                     4
host_total_listings_count               4
host_verifications                      0
host_has_profile_pic                    4
host_identity_verified                  4
street                                  0
neighbourhood                        1653
neighbourhood_cleansed                  0
neighbourhood_group_cleansed        20030
city                                    4
state                                 127
zipcode                               866
market                                 42
smart_location                          0
country_code                            0
country                                 0
latitude                                0
longitude                               0
is_location_exact                       0
property_type                           0
room_type                               0
accommodates                            0
bathrooms                              10
bedrooms                                8
beds                                    7
bed_type                                0
amenities                               0
square_feet                         19624
price                                   0
weekly_price                        17187
monthly_price                       18469
security_deposit                     6166
cleaning_fee                         3629
guests_included                         0
extra_people                            0
minimum_nights                          0
maximum_nights                          0
calendar_updated                        0
has_availability                        0
availability_30                         0
availability_60                         0
availability_90                         0
availability_365                        0
calendar_last_scraped                   0
number_of_reviews                       0
first_review                         2406
last_review                          2406
review_scores_rating                 2639
review_scores_accuracy               2649
review_scores_cleanliness            2647
review_scores_checkin                2661
review_scores_communication          2652
review_scores_location               2660
review_scores_value                  2659
requires_license                        0
license                             20021
jurisdiction_names                    672
instant_bookable                        0
is_business_travel_ready                0
cancellation_policy                     0
require_guest_profile_picture           0
require_guest_phone_verification        0
calculated_host_listings_count          0
reviews_per_month                    2406
dtype: int64

In [20]:
#checking the shape of listings_details

listings_details.shape

(20030, 96)

In [21]:
#removing columns thumbnail_url, medium_url, xl_picture_url, host_acceptance_rate, neighbourhood_group_cleansed, license, square_feet, monthly_price, and weekly_price for incomplete data over 80%

df_listings_details = listings_details.drop(['thumbnail_url', 'medium_url', 'xl_picture_url', 'host_acceptance_rate', 'neighbourhood_group_cleansed', 'license', 'square_feet', 'monthly_price', 'weekly_price'],axis=1)

In [22]:
#identifying duplicate values in data set

listings_details_dups = listings_details[listings_details.duplicated()]

In [23]:
#checking for duplicate values

listings_details_dups

Empty DataFrame
Columns: [id, listing_url, scrape_id, last_scraped, name, summary, space, description, experiences_offered, neighborhood_overview, notes, transit, access, interaction, house_rules, thumbnail_url, medium_url, picture_url, xl_picture_url, host_id, host_url, host_name, host_since, host_location, host_about, host_response_time, host_response_rate, host_acceptance_rate, host_is_superhost, host_thumbnail_url, host_picture_url, host_neighbourhood, host_listings_count, host_total_listings_count, host_verifications, host_has_profile_pic, host_identity_verified, street, neighbourhood, neighbourhood_cleansed, neighbourhood_group_cleansed, city, state, zipcode, market, smart_location, country_code, country, latitude, longitude, is_location_exact, property_type, room_type, accommodates, bathrooms, bedrooms, beds, bed_type, amenities, square_feet, price, weekly_price, monthly_price, security_deposit, cleaning_fee, guests_included, extra_people, minimum_nights, maximum_nights, calendar_updated, has_availability, availability_30, availability_60, availability_90, availability_365, calendar_last_scraped, number_of_reviews, first_review, last_review, review_scores_rating, review_scores_accuracy, review_scores_cleanliness, review_scores_checkin, review_scores_communication, review_scores_location, review_scores_value, requires_license, license, jurisdiction_names, instant_bookable, is_business_travel_ready, cancellation_policy, require_guest_profile_picture, require_guest_phone_verification, calculated_host_listings_count, reviews_per_month]
Index: []

In [24]:
#checking neighbourhoods for null values

neighbour.isnull().sum()

neighbourhood_group    22
neighbourhood           0
dtype: int64

In [25]:
#checking the shape of neighbourhoods

neighbour.shape

(22, 2)

In [26]:
#removing neighbourhood_group column for null data

df_neighbour = neighbour.drop(['neighbourhood_group'],axis=1)

In [27]:
#identifying duplicate values in data set

neighbour_dups = neighbour[neighbour.duplicated()]

In [28]:
#checking for duplicate values

neighbour_dups

Empty DataFrame
Columns: [neighbourhood_group, neighbourhood]
Index: []

In [29]:
#checking reviews for null values

reviews.isnull().sum()

listing_id    0
date          0
dtype: int64

In [30]:
#checking the shape of reviews

reviews.shape

(431830, 2)

In [31]:
#identifying duplicate values in data set

reviews_dups = reviews[reviews.duplicated()]

In [32]:
#checking for duplicate values

reviews_dups

        listing_id        date
367          20168  2016-01-05
1220         28871  2017-08-29
1506         29051  2016-03-10
2620         47061  2011-10-16
3036         50515  2014-04-17
...            ...         ...
431809    30248825  2018-11-28
431815    30339819  2018-11-28
431816    30339819  2018-11-28
431817    30339819  2018-11-28
431818    30339819  2018-11-28

[1321 rows x 2 columns]

In [33]:
#removing duplicate values

df_reviews = reviews.drop_duplicates()

In [34]:
#checking if duplicates were removed

df_reviews.shape

(430509, 2)

In [35]:
#checking reviews_details for null values

reviews_details.isnull().sum()

listing_id         0
id                 0
date               0
reviewer_id        0
reviewer_name      0
comments         530
dtype: int64

In [36]:
#checking the shape of reviews_details

reviews_details.shape

(431830, 6)

In [37]:
#identifying duplicate values in data set

reviews_details_dups = reviews_details[reviews_details.duplicated()]

In [38]:
#checking for duplicate values

reviews_details_dups

Empty DataFrame
Columns: [listing_id, id, date, reviewer_id, reviewer_name, comments]
Index: []

In [39]:
#creating descriptive statistics

df_cal.describe()

         listing_id
count  7.310950e+06
mean   1.541725e+07
std    8.569190e+06
min    2.818000e+03
25%    8.187901e+06
50%    1.563049e+07
75%    2.202612e+07
max    3.058041e+07

In [40]:
#creating descriptive statistics

df_list.describe()

                 id       host_id      latitude     longitude         price  minimum_nights  number_of_reviews  reviews_per_month  calculated_host_listings_count  availability_365
count  2.003000e+04  2.003000e+04  20030.000000  20030.000000  20030.000000    20030.000000       20030.000000        17624.00000                    20030.000000      20030.000000
mean   1.541725e+07  4.868570e+07     52.365212      4.888977    152.181178        3.328707          21.560459            1.06208                        4.734698         59.913679
std    8.569404e+06  5.649635e+07      0.015996      0.035573    145.828976       12.537419          43.240292            1.33332                       22.921886        104.027710
min    2.818000e+03  3.159000e+03     52.288378      4.753247      0.000000        1.000000           0.000000            0.01000                        1.000000          0.000000
25%    8.188423e+06  8.093516e+06     52.355126      4.863595     96.000000        2.000000           3.000000            0.27000                        1.000000          0.000000
50%    1.563049e+07  2.369450e+07     52.364590      4.886387    125.000000        2.000000           8.000000            0.62000                        1.000000          3.000000
75%    2.202577e+07  6.827535e+07     52.375074      4.908288    175.000000        3.000000          22.000000            1.23000                        1.000000         67.000000
max    3.058041e+07  2.293612e+08     52.424713      5.027689   8500.000000     1001.000000         695.000000           11.85000                      208.000000        365.000000

In [41]:
#creating descriptive statistics

df_listings_details.describe()

                 id     scrape_id       host_id  host_listings_count  host_total_listings_count      latitude     longitude  accommodates     bathrooms     bedrooms          beds  guests_included  minimum_nights  maximum_nights  availability_30  availability_60  availability_90  availability_365  number_of_reviews  review_scores_rating  review_scores_accuracy  review_scores_cleanliness  review_scores_checkin  review_scores_communication  review_scores_location  review_scores_value  calculated_host_listings_count  reviews_per_month
count  2.003000e+04  2.003000e+04  2.003000e+04         20026.000000               20026.000000  20030.000000  20030.000000  20030.000000  20020.000000  20022.00000  20023.000000     20030.000000    20030.000000    20030.000000     20030.000000     20030.000000     20030.000000      20030.000000       20030.000000          17391.000000            17381.000000               17383.000000           17369.000000                 17378.000000            17370.000000         17371.000000                    20030.000000        17624.00000
mean   1.541725e+07  2.018121e+13  4.868570e+07             6.105812                   6.105812     52.365212      4.888977      2.891912      1.137662      1.44506      1.849223         1.468997        3.328707      631.225711         4.905642        11.411233        18.168597         59.913679          21.560459             94.849520                9.679765                   9.465627               9.735563                     9.785361                9.421531             9.175004                        4.734698            1.06208
std    8.569404e+06  3.906348e+00  5.649635e+07            30.388516                  30.388516      0.015996      0.035573      1.318760      0.793903      0.88568      1.389664         0.937890       12.537419      541.339981         7.942903        17.498603        27.704834        104.027710          43.240292              6.648685                0.685271                   0.867973               0.646557                     0.599409                0.727931             0.805422                       22.921886            1.33332
min    2.818000e+03  2.018121e+13  3.159000e+03             0.000000                   0.000000     52.288378      4.753247      1.000000      0.000000      0.00000      0.000000         1.000000        1.000000        1.000000         0.000000         0.000000         0.000000          0.000000           0.000000             20.000000                2.000000                   2.000000               2.000000                     2.000000                2.000000             2.000000                        1.000000            0.01000
25%    8.188423e+06  2.018121e+13  8.093516e+06             1.000000                   1.000000     52.355126      4.863595      2.000000      1.000000      1.00000      1.000000         1.000000        2.000000       21.000000         0.000000         0.000000         0.000000          0.000000           3.000000             93.000000                9.000000                   9.000000              10.000000                    10.000000                9.000000             9.000000                        1.000000            0.27000
50%    1.563049e+07  2.018121e+13  2.369450e+07             1.000000                   1.000000     52.364590      4.886387      2.000000      1.000000      1.00000      1.000000         1.000000        2.000000     1125.000000         0.000000         0.000000         0.000000          3.000000           8.000000             97.000000               10.000000                  10.000000              10.000000                    10.000000               10.000000             9.000000                        1.000000            0.62000
75%    2.202577e+07  2.018121e+13  6.827535e+07             1.000000                   1.000000     52.375074      4.908288      4.000000      1.000000      2.00000      2.000000         2.000000        3.000000     1125.000000         7.000000        18.000000        28.000000         67.000000          22.000000            100.000000               10.000000                  10.000000              10.000000                    10.000000               10.000000            10.000000                        1.000000            1.23000
max    3.058041e+07  2.018121e+13  2.293612e+08           698.000000                 698.000000     52.424713      5.027689     17.000000    100.500000     12.00000     32.000000        16.000000     1001.000000     9999.000000        30.000000        60.000000        90.000000        365.000000         695.000000            100.000000               10.000000                  10.000000              10.000000                    10.000000               10.000000            10.000000                      208.000000           11.85000

In [42]:
#creating descriptive statistics

df_neighbour.describe()

          neighbourhood
count                22
unique               22
top     Bijlmer-Centrum
freq                  1

In [43]:
#creating descriptive statistics

df_reviews.describe()

         listing_id
count  4.305090e+05
mean   9.537416e+06
std    7.645556e+06
min    2.818000e+03
25%    2.481241e+06
50%    7.814872e+06
75%    1.546232e+07
max    3.055009e+07

In [44]:
#creating descriptive statistics

reviews_details.describe()

         listing_id            id   reviewer_id
count  4.318300e+05  4.318300e+05  4.318300e+05
mean   9.540278e+06  1.676551e+08  5.844055e+07
std    7.646134e+06  1.027225e+08  5.424683e+07
min    2.818000e+03  1.191000e+03  4.370000e+02
25%    2.482541e+06  7.596344e+07  1.533860e+07
50%    7.815853e+06  1.591030e+08  3.931767e+07
75%    1.546254e+07  2.565866e+08  8.973084e+07
max    3.055009e+07  3.559969e+08  2.288387e+08

In [47]:
#exporting cleaned dataframes to prepared data folder

df_cal.to_csv(os.path.join(path, '02 Data','Prepared Data', 'calendar_clean.csv'), index = False)

df_list.to_csv(os.path.join(path, '02 Data','Prepared Data', 'listings_clean.csv'), index = False)

df_listings_details.to_csv(os.path.join(path, '02 Data','Prepared Data', 'listings_details_clean.csv'), index = False)

df_neighbour.to_csv(os.path.join(path, '02 Data','Prepared Data', 'neighbourhood_clean.csv'), index = False)

df_reviews.to_csv(os.path.join(path, '02 Data','Prepared Data', 'reviews_clean.csv'), index = False)

#reviews_details did not have to be cleaned